@font-face {
	font-family: 'FontAwesome';
	font-weight: '400';
	src: url('../../../../../lib/fontawesome-webfont.ttf');
}

.interface {
	-fx-font-family: "Helvetica";
}

#okButton, #searchButton, #stopButton, #barZoom, #openButton, #exportButton, #importButton, #zoomButton, #deZoomButton, #upperShiftButton, #leftShiftButton, #rightShiftButton, #downShiftButton, #addButton, #removeButton {
	-fx-background-color: #124b5e; 
	-fx-text-fill: white;
}

#zoomButton, #deZoomButton, #upperShiftButton, #leftShiftButton, #rightShiftButton, #downShiftButton {
	-fx-pref-height: 31px; 
	-fx-pref-width: 31px;
}

#searchGrid, #mapGrid, #mapAnchor, #mapBox {
	-fx-font-family: "Helvetica", Times, serif; 
	-fx-font-size: large;
}

#searchGrid, #mapGrid, #mapAnchor {
	-fx-background-color: #91cfaf; 
}

#mapBox {
	-fx-background-color: #F2EFE9;
}

#title {
	-fx-font-weight: bold;
	-fx-font-size: 19px;
	-fx-text-fill: black;
}

#citiesValue {
	-fx-min-width: 370;
}

#numDep, #numArr {
	-fx-max-width: 80;
}

#pathDep, #pathArr {
	-fx-min-width: 50;
}

#controls, #addRemove{
	-fx-spacing: 20;
	-fx-alignment: center;
}

#addRemove {
	-fx-min-width: 100;
}

#searchStop {
	-fx-spacing: 100;
	-fx-alignment: center;
}

#form, #warningStack {
	-fx-text-fill: black;
	-fx-background-color: #F2EFE9;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.combobox {
	-fx-text-fill: black;
}

.context-menu-label:disabled {
    -fx-opacity: 1.0;
}

.context-menu-label:disabled .label {
    -fx-opacity: 1.0;
}

.context-menu-label:disabled:hover {
    -fx-background-color: white;
}

.context-menu-label:disabled:hover .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.context-menu-label:disabled:focused {
    -fx-background-color: white;
}

.context-menu-label:disabled:focused .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}